
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Pricing\Price\BasePrice">
        <plugin name="change_price" type="Test\MyPlugin\Plugin\ChangePrice" sortOrder="1"  />
    </type>
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="change_get_copyright" type="Test\MyPlugin\Plugin\Footer" sortOrder="1"  />
    </type>
    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="change_breadcrumbs" type="Test\MyPlugin\Plugin\Breadcrumbs" sortOrder="1"  />
    </type>
</config>
