Session.vim
dump.rdb
sitemaps
moduleCreator

.idea
.DS_Store
.rvmrc
.bundle
.ruby-version
.phpstorm.meta.php

/var
/media
/.externalToolBuilders
/vendor
/codeception.yml
/codecept


/app/etc/local.xml
/app/etc/local.xml.phpunit
/app/etc/enterprise.xml
/app/etc/varnishcache.xml
/app/etc/modules/Fooman_Speedster.xml
/app/etc/*.der
phpunit.xml

/app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
/app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
/clickheat/config/config.php
/downloader/connect.cfg

js/highslide/highslide.config.js
/js/highslide/highslide.config.js

/skin/frontend/enterprise/paleoethics/css
/skin/frontend/enterprise/progenex/css
/skin/frontend/enterprise/gymnordic/css
/skin/frontend/enterprise/spartanutrition/css
.sass-cache
/skin/frontend/enterprise/paleoethics/images/icons-*.png
/skin/frontend/enterprise/progenex/images/icons-*.png
/skin/frontend/enterprise/gymnordic/images/icons-*.png
/skin/frontend/enterprise/gymnordic/images/frontpage-*.png
/skin/frontend/enterprise/gymnordic/images/reviewpilot-*.png
/skin/frontend/enterprise/gymnordic/images/checkout/checkitout-*.png
/skin/frontend/enterprise/gymnordic/images/checkout/flags-*.png
/skin/frontend/enterprise/spartanutrition/images/icons-*.png

/shell/url_migration.log

/tests/_output/*
!/tests/_output/.gitkeep
/tests/*.suite.yml
/tests/_data/fixtures.yml

*.tgz
.cap_tasks~
app/etc/modules/Magneto_Debug.xml
app/design/frontend/base/default/layout/debug.xml
app/design/frontend/base/default/template/debug*
app/design/adminhtml/base/default/layout/debug.xml
app/design/adminhtml/base/default/template/debug*
app/code/community/Magneto*
skin/frontend/base/default/debug*

scssgym.bat
scsspgx.bat

phpunit-local.php

sitemap.xml
